<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style type="text/css">
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover, a:hover {
            opacity: 0.7;
        }

        /*color: black;
        color: #F57C00;
        background-color: #FF9800; */

    </style>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {
            border-collapse: collapse !important;
        }
    </style>
    <![endif]-->
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
    <script type="text/javascript">
        var config = {
            apiKey: "AIzaSyAt6FyQYm_oht2b2L0UjNxBgEMxPuAI2Zg",
            authDomain: " lastminutemeal-80c81.firebaseapp.com",
            databaseURL: "https://lastminutemeal-80c81.firebaseio.com/",
            projectId: " lastminutemeal-80c81",
        };
        firebase.initializeApp(config);
        var database = firebase.database();
        function getData() {
            var id = getQueryVariable("id");
            document.getElementById("idReserva").innerHTML = id;
            var ref = database.ref("booking/"+id);
            // Attach an asynchronous callback to read the data at our posts reference
            ref.on("value", function(snapshot) {
                var hora = snapshot.child("time").val();
                var personas = snapshot.child("persons").val();
                var name = snapshot.child("restaurant_id").val();
                document.getElementById("time").innerHTML = hora;
                document.getElementById("persons").innerHTML = personas;
                document.getElementById("restaurant_id").innerHTML = name;
            }, function (errorObject) {
                console.log("The read failed: " + errorObject.code);
            });
            return id, hora, personas, name;
        }
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if(pair[0] == variable){return pair[1];}
            }
            return(false);
        }
    </script>
</head>
<body onload="getData()">
<div class="card">
    <h1 id="restaurant_id"></h1>
    <h4>Booking ID: </h4>
    <p id="idReserva"></p>
    <h4>Time: </h4>
    <p id="time"></p>
    <h4>Nº People: </h4>
    <p id="persons"></p>
    <p class="title">Enjoy your meal!</p>
    <img src="https://dmfs.org/wiki/images/6/65/Carddav-qr.png" alt="John" style="width:100%">
</div>
</body>
</html>
