<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <style type="text/css">
    body{
      height: 97%;
      width: 99%;
      position: absolute;
    }
    p{
      width: 80%;
      margin-left: 10%;
      text-align: center;
      color: #F57C00;
      font-size: 26px;
      text-transform: uppercase;
    }
    h2{
      width: 80%;
      margin-left: 10%;
      text-align: center;
      color: black;
      font-size: 26px;
      margin-top: 8%;
      text-transform: uppercase;
    }
    h1{
      position: absolute;
      text-align: center;
      color: white;
      width: 100%;
      height: 100%;
      font-size: 50px;
    }
    button{
      font-size: 23px;
      background-color: white;
      border: 0;
      padding: 15px;
      margin: 0 auto;
      display: inherit;
    }
    #header{
      background-color: #FF9800;
      height: 10%;
      position: relative;
    }
    #cuerpo{
      height: 50%;
      position: relative;
    }
  </style>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important;}
    </style>
    <![endif]-->
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
    <script type="text/javascript">
      var config = {
        apiKey: "AIzaSyAt6FyQYm_oht2b2L0UjNxBgEMxPuAI2Zg",
        authDomain: " lastminutemeal-80c81.firebaseapp.com",
        databaseURL: "https://lastminutemeal-80c81.firebaseio.com/",
        projectId: " lastminutemeal-80c81",
      };
      firebase.initializeApp(config);
      var database = firebase.database();



      function getData() {
        var id = getQueryVariable("id");
        document.getElementById("idReserva").innerHTML = id;
        var ref = database.ref("booking/"+id);
        // Attach an asynchronous callback to read the data at our posts reference
        ref.on("value", function(snapshot) {
          var hora = snapshot.child("time").val();
          var personas = snapshot.child("persons").val();
          var name = snapshot.child("restaurant_id").val();
          document.getElementById("time").innerHTML = hora;
          document.getElementById("persons").innerHTML = personas;
          document.getElementById("restaurant_id").innerHTML = name;
        }, function (errorObject) {
          console.log("The read failed: " + errorObject.code);
        });
        return id, hora, personas, name;
      }

      function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
          var pair = vars[i].split("=");
          if(pair[0] == variable){return pair[1];}
        }
        return(false);
      }

    </script>
</head>
<body onload="getData()">
<!--
  <div id="header">
		<h1>lastMinuteMeal</h1>
  </div>
-->
  <div id="cuerpo">
  	<hr>
  	<table style="width:80%; margin-left: 10%; margin-top: 10%;">
		<tr>
			<th>
				<h2>nº reserva</h2>
				<p id="idReserva"></p>
			</th>
			<th>
				<h2>Nombre de usuario</h2>
				<p>Montse Sendín</p>
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<h2>Nombre restaurante</h2>
				<p id="restaurant_id"></p>
			</td>
		</tr>
		<tr>
			<td>
				<h2>Hora reserva</h2>
				<p id="time"></p>
			</td>
			<td>
				<h2>Nº Personas</h2>
				<p id="persons"></p>
			</td>
		</tr>
	</table>
	<h2><img src="https://dmfs.org/wiki/images/6/65/Carddav-qr.png"></h2>
  </div>
</body>
</html>
